
<h1>Research Technologies Service: Monthly Report</h1>

<h2>Customer: { $customer }</h2>
<h2>Reporting Period: {  $report_period }</h2>

<h3>Support Balance Summary</h3>

<table>
<tr><th>Support allocation (hours):</th><td>{ $allocated = 21 }</td></tr>
<tr><th>Balance used to date (hours):</th><td>{ $used = $incidents->{$customer}{balance_used} / ( 60 * 60 ) }</td></tr>
<tr><th>Remaining balance (hours):</th><td>{ $allocated - $used }</td></tr>
</table>

<h3>Support Cases Summary</h3>

<p><em>Summary of support activity this month - note time spent resolving "Incident" call types is not deducted from support allowance</em></p>

<table>
    <tr>
        <th>Description</th>
        <th>Opened</th>
        <th>Ticket ID</th>
        <th>Call Type</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Closed</th>
        <th>Balance used</th>
        <th>Resolved within target?</th>
    </tr>
{
    foreach $incident ( @{ $incidents->{$customer}{summary} } )
    {
        $OUT .= Text::Template::fill_in_file( "incident.tmpl", HASH => { incident => \$incident } );
    }
}
</table>

<p>Percentage of Incidents resolved within Service Level target:</p>

{
    foreach $service ( @{ $services->{$customer} } ) 
    {
        $outage = $outages->{ $service->{url} };
        $OUT .= Text::Template::fill_in_file( "service.tmpl", HASH => { service => \$service, outage => \$outage } );
    }
}
