<tr>
    <td>{ $incident->{short_description} }</td>
    <td>{ $incident->{opened_at} }</td>
    <td>{ $incident->{number} }</td>
    <td>{ $incident->{category} }</td>
    <td>{ $incident->{priority} }</td>
    <td>{ $incident->{state} }</td>
    <td>{ $incident->{closed_at} }</td>
    <td>{ $incident->{category} eq "Incident" ? 0 : $incident->{time_worked} }</td>
    <td><span class="badge">not yet available</span></td>
</tr>
