<div class="row">
    <div class="col-md-6">
        <div class="panel panel-{$service->{_storage_state}}">
            <div class="panel-heading">
                <h2 class="panel-title">Storage: { $service->{Service} } <span class="badge">{sprintf("%.0f",$service->{_storage_ratio})}%</span></h2>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-{$service->{_storage_state}}" aria-valuenow="{$service->{_storage_ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {sprintf("%.0f",$service->{_storage_ratio})}%"></div>
                </div>
                <table class="table table-condensed">
                    <thead>
                        <th>Allocated (GB)</th>
                        <th>Used (GB)</th>
                        <th>Remaining (GB)</th>
                    </thead>
                    <tr>
                        <td>{sprintf("%.2f",$service->{_storage_total})}</td>
                        <td>{sprintf("%.2f",$service->{_storage_current})}</td>
                        <td>{sprintf("%.2f",$service->{_storage_total} - $service->{_storage_current})}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-{$service->{_avail_state}}">
            <div class="panel-heading">
                <h2 class="panel-title">Availability: { $service->{Service} } <span class="badge">{sprintf("%.02f",$service->{_avail_ratio})}%</span></h2>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-{$service->{_avail_state}}" aria-valuenow="{$service->{_avail_ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {sprintf("%.0f",$service->{_avail_ratio})}%"></div>
                </div>
                <table class="table table-condensed">
                    <thead>
                        <th>Outages</th>
                        <th>Downtime (s)</th>
                    </thead>
                    <tr>
                        <td>{scalar @{$service->{_outages}||[]}}</td>
                        <td>{sprintf("%d",$service->{_avail_total} - $service->{_avail_current})}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
